.name-modal {
  background-color: rgba(18, 18, 18, 0.8);
  display: flex !important;
  align-items: center;
  justify-content: center;

  & > .modal-dialog {
    margin: 0;
    width: 100%;
  }

  & > .modal-dialog > .modal-content {
    border-radius: 0;

    & > .modal-header {
      border-bottom: 0;

      & > .modal-title {
        font-size: 4rem;
        font-weight: 700;
      }

      & button {
        font-size: 4rem;
      }
    }

    & > .modal-body {
      & .input-group-text,
      input {
        font-size: 3rem;
      }

      & .player-select {
        margin-top: 5rem;
        text-align: center;

        & > .btn-group > .btn {
          background-color: #121212;
          font-size: 4rem;
          padding: 2rem 4rem;
          border: 1px solid #fff;

          &:hover,
          &.focus.active {
            background-color: #eaeaea;
            border-radius: 0;
            color: #121212;
            box-shadow: none;
          }
        }
      }
    }
  }
}

.name-modal-btn {
  background-color: #fff;
  border: 2px solid #121212;
  color: #121212;
  font-size: 3rem;
  font-weight: 700;
  margin: 2rem 0;

  &:hover {
    background-color: #121212;
    border: 1px solid #121212;
    color: #fff;
  }
}
