.game {
  min-height: 100vh;
  height: 100%;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board_row {
  display: flex;
  justify-content: center;
}

.game-board_history {
  text-align: center;
}

.player-details {
  font-size: 3rem;
  font-weight: 700;
}
